In [12]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
%sql postgresql://postgres:postgres@127.0.0.1/udacity_de

'Connected: postgres@udacity_de'

In [14]:
%sql SELECT * FROM pg_catalog.pg_tables WHERE schemaname NOT IN ('pg_catalog', 'information_schema')

 * postgresql://postgres:***@127.0.0.1/udacity_de
5 rows affected.

[('public', 'song_table', 'postgres', None, True, False, False, False),
 ('public', 'artists', 'postgres', None, True, False, False, False),
 ('public', 'time', 'postgres', None, True, False, False, False),
 ('public', 'users', 'postgres', None, True, False, False, False),
 ('public', 'songplays', 'postgres', None, True, False, False, False)]

In [18]:
%sql SELECT * FROM songplays WHERE artist_id IS NOT NULL ORDER BY artist_id LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/udacity_de
0 rows affected.

[]

In [11]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/udacity_de
5 rows affected.

[(88, 'Mohammad', 'Rodriguez', 'M', 'paid'),
 (38, 'Gianna', 'Jones', 'F', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (66, 'Kevin', 'Arellano', 'M', 'free'),
 (69, 'Anabelle', 'Simpson', 'F', 'free')]

In [7]:
%sql SELECT * FROM song_table LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/udacity_de
1 rows affected.

[('SOBCOSW12A8C13D398', 'Rumba De Barcelona', 'AR7SMBG1187B9B9066', 0, Decimal('218.38322'))]

In [9]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/udacity_de
1 rows affected.

[('AR7SMBG1187B9B9066', 'Los Manolos', '', nan, nan)]

In [10]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://postgres:***@127.0.0.1/udacity_de
5 rows affected.

[(1543279932796, 0, 27, 48, 11, 2018, 1),
 (1543280209796, 0, 27, 48, 11, 2018, 1),
 (1543280448796, 1, 27, 48, 11, 2018, 1),
 (1543282396796, 1, 27, 48, 11, 2018, 1),
 (1543282717796, 1, 27, 48, 11, 2018, 1)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).